<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="https://chat.openai.com/favicon.ico"
      type="image/x-icon"
    />
    <style>
      .right2 {
        display: none;
      }
    </style>
    <title>ChatGpt-Clone</title>
  </head>
  <body class="bg-chatBlack-50 text-white">
    <div class="flex h-[100vh]">
      <div class="left bg-gray-800 w-3/12">
        <button
          class="w-[90%] flex m-2 p-2 justify-start text-center space-x-2 border-white-50 hover:opacity-60 border rounded-md"
        >
          <svg
            class="my-1 mx-2"
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4 shrink-0"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
          </svg>
          <span class="">New Chat</span>
        </button>
        <div class="chat">
            {% for chat in myChats %}
                
          <div
            class="flex hover:bg-gray-600 m-3 justify-start text-center rounded-md"
          >
            <svg
              class="my-3 mx-3"
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
              ></path>
            </svg>
            <span class="text-center my-2">{{chat.question}}</span>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="right w-9/12 flex justify-center flex-col my-10">
        <div class="font-bold text-5xl text-center my-7">ChatGpt</div>
        <div class="rows mx-auto flex w-[60vw] justify-around items-center">
          <div class="example flex flex-col justify-center items-center">
            <span class="relative max-[370px]:hidden text-lg"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="none"
                class="h-4 w-4 transition-colors group-hover/button:text-brand-purple"
                width="16"
                height="16"
                stroke-width="2"
              >
                <path
                  d="M12.784 1.442a.8.8 0 0 0-1.569 0l-.191.953a.8.8 0 0 1-.628.628l-.953.19a.8.8 0 0 0 0 1.57l.953.19a.8.8 0 0 1 .628.629l.19.953a.8.8 0 0 0 1.57 0l.19-.953a.8.8 0 0 1 .629-.628l.953-.19a.8.8 0 0 0 0-1.57l-.953-.19a.8.8 0 0 1-.628-.629l-.19-.953h-.002ZM5.559 4.546a.8.8 0 0 0-1.519 0l-.546 1.64a.8.8 0 0 1-.507.507l-1.64.546a.8.8 0 0 0 0 1.519l1.64.547a.8.8 0 0 1 .507.505l.546 1.641a.8.8 0 0 0 1.519 0l.546-1.64a.8.8 0 0 1 .506-.507l1.641-.546a.8.8 0 0 0 0-1.519l-1.64-.546a.8.8 0 0 1-.507-.506L5.56 4.546Zm5.6 6.4a.8.8 0 0 0-1.519 0l-.147.44a.8.8 0 0 1-.505.507l-.441.146a.8.8 0 0 0 0 1.519l.44.146a.8.8 0 0 1 .507.506l.146.441a.8.8 0 0 0 1.519 0l.147-.44a.8.8 0 0 1 .506-.507l.44-.146a.8.8 0 0 0 0-1.519l-.44-.147a.8.8 0 0 1-.507-.505l-.146-.441Z"
                  fill="currentColor"
                ></path>
              </svg>
            </span>
            <div class="text-xl font-bold">Example</div>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
          </div>
          <div class="limitation flex flex-col justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="none"
              class="h-4 w-4 transition-colors text-brand-green"
              width="16"
              height="16"
              stroke-width="2"
            >
              <path
                d="M9.586 1.526A.6.6 0 0 0 8.553 1l-6.8 7.6a.6.6 0 0 0 .447 1h5.258l-1.044 4.874A.6.6 0 0 0 7.447 15l6.8-7.6a.6.6 0 0 0-.447-1H8.542l1.044-4.874Z"
                fill="currentColor"
              ></path>
            </svg>
            <div class="text-xl font-bold">Capabilites</div>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
          </div>
          <div class="accuracy flex flex-col justify-center items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              stroke-width="2"
              class="h-4 w-4 ml-0.5 h-4 w-4 transition-colors sm:ml-0 group-hover/options:text-gray-500 !text-gray-500 -ml-2 group-hover/button:text-brand-purple"
            >
              <path
                fill-rule="evenodd"
                d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div class="text-xl font-bold">Limitation</div>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
            <button
              class="bg-gray-600 p-2 m-3 rounded-md hover:bg-slate-800 w-[20vw]"
            >
              Explain Quantum mechanics in simple way
            </button>
          </div>
        </div>
        <div class="input w-full text-center my-5 mx-2">
          <input
            class="w-[62vw] p-4 bg-gray-500 rounded-md"
            type="text"
            name="search"
            placeholder="Send a Message"
            id="questionInput"
          />

          <button id="sendButton" class="relative -left-10">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="none"
              class="h-4 w-4 m-1 md:m-0"
              stroke-width="2"
            >
              <path
                d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <div class="text-center text-sm py-3 opacity-60">
            Free Research Preview. ChatGPT may produce inaccurate information
            about people, places, or facts.
            <a
              class="underline font-sans"
              href="http://https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
              target="_blank"
              rel="noopener noreferrer"
              >ChatGPT August 3 Version</a
            >
          </div>
        </div>
      </div>

      <div class="right2 w-full">
        <div class="box1 flex p-4 justify-start px-14">
          <img
            class="w-10 rounded-xl space-x-6 mx-5"
            src="https://imgs.search.brave.com/GNIFWqfPKKf_ORRCV58z1gW89zw2_PdDxQod3tSF4lM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5naXRlbS5jb20v/cGltZ3MvbS80MDQt/NDA0MjcxMF9jaXJj/bGUtcHJvZmlsZS1w/aWN0dXJlLXBuZy10/cmFuc3BhcmVudC1w/bmcucG5n"
            alt="profile"
          />
          <div id="question1" class="font-bold">Loading...</div>
        </div>
        <div
          class="box2 flex p-8 px-12 justify-start bg-gray-500 w-full hover:bg-gray-400"
        >
          <img
            class="w-10 rounded-xl space-x-6 mx-5"
            src="https://chat.openai.com/favicon.ico"
            alt="ChatGPT"
          />
          <div>
            <div id="question2" class="font-bold">Loading...</div>
            <div id="solution" class="">Loading...</div>
          </div>
        </div>
        <div class="input pt-[50vh] w-full text-center my-5 mx-2">
          <input
            class="w-[62vw] p-4 bg-gray-500 rounded-md"
            type="text"
            name="search"
            placeholder="Send a Message"
            id="questionInput"
          />

          <button id="sendButton" class="relative -left-10">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="none"
              class="h-4 w-4 m-1 md:m-0"
              stroke-width="2"
            >
              <path
                d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <div class="text-center text-sm py-3 opacity-60">
            Free Research Preview. ChatGPT may produce inaccurate information
            about people, places, or facts.
            <a
              class="underline font-sans"
              href="http://https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
              target="_blank"
              rel="noopener noreferrer"
              >ChatGPT August 3 Version</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
